@charset "UTF-8";
@import "utils/variables", "utils/mixin";
@import "normalize";
@import "bootstrap/bootstrap-setting";
html,
body {
    margin: 0;
    height: 100%;
    background-color: #EFEEE6;
    
    font-family: source-han-sans-traditional,roboto,sans-serif;
    font-weight: 300;

}
img {
    display: block;
}

.clearfix,
.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;
}
//font styles
// .serif {
//     font-family: "Noto Serif TC", "思源宋體 TC", "思源宋體 TW", "思源宋體", serif;
// }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 1em;
    margin-bottom: 1em;

    @include laptops {
        font-weight: 500;
    }
}

h1,
.h1 {
    font-size: 2.75rem; //44px

    @include laptops {
        font-size: 2.875rem; //46px
    }
}

h2,
.h2 {
    font-size: 1.75rem; //28px

    @include laptops {
        font-size: 1.875rem; //30px
    }
}

h3,
.h3 {
    font-size: 1.375rem; //22px

    @include laptops {
        font-size: 1.5rem; //24px
    }
}

h4,
.h4 {
    font-size: 1.25rem; //20px

    @include laptops {
        font-size: 1.375rem; //22px
    }
}

h5,
.h5 {
    font-size: 1.125rem; //18px

    @include laptops {
        font-size: 1.125rem; //18px
    }
}

h6,
.h6 {
    font-size: 1rem; //16px
    @include laptops {
        font-size: 1rem; //16px
    }
}

p {
    font-size: 18px;
}

// list styles
.upper-latin {
    list-style-type: upper-alpha;
}

.decimal {
    list-style-type: decimal;
}

.disc {
    list-style-type: disc;
}

.number__brackets {
    li {
        position: relative;
        padding-left: 2em;
        line-height: 1.5;

        span {
            position: absolute;
            left: 0;
        }
    }
}

.list-reset {
    @include list-reset;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include pad {
        width: 95%;
    }

    @include desktop {
        width: 1140px;
    }
}

.row {
    @include flex-obj(center, center);
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    @include mobile {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.justify {
    &-start {
        justify-content: flex-start;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: flex-end;
    }
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

a,
button {
    &.btn {
        display: table;
        border-width: 0;

        &.btn--disabled {
            color: #909090 !important;
            background-color: #dddddd !important;
            cursor: not-allowed !important;
        }

        &.btn--register {
            color: $font-black;
            background-color: $btn-register;
            font-weight: 500;

            &:hover {
                background-color: $btn-register-hover;
            }
        }

        &.btn--outlined {
            color: #909090;
            background-color: $white;
            border: 1px solid #909090;

            &:hover {
                color: $main;
                border-color: $main;
            }
        }

        &.btn--100 {
            width: 100%;
        }

        &.btn--standard {
            padding: 8px 18px 10px;
            font-size: 1rem;
        }

        &.btn--large {
            padding: 10px 30px 12px;
            font-size: 1rem;
        }

        &.btn--speaker {
            color: $font-black;
            background-color: $btn-register;
            font-weight: 500;

            &:hover {
                background-color: $btn-register-hover;
            }
        }
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
    }
}
// ---------- GENERAL STYLES ---------- //

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

// ---------- SCROLLING STYLES ---------- //

$panelcount: 10; // set # of panels/sections here

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 1000;
}

.section {
    & {
        height: 100%;
        width: calc(100% / #{$panelcount});
        float: left;

        // aesthetic only ----
        position: relative;

        // $colors: #f64747, #22a7f0, #f9690e, #9b59b6, #03c9a9, #66182a, #184b52, #9e734a, #4e0258;
        // @for $i from 1 through length($colors) {
        //     &:nth-child(#{$i}) {
        //         background: nth($colors, $i);
        //     }
        // }
    }
    &s {
        width: percentage($panelcount);
        height: 100%;
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 30px;
        color: #fff;
    }


    //text-wrap
    .text-wrap{
        margin-top: 15%;
        .tag-txt {
            font-size: 16px;
            font-weight: 500;
            padding: 5px 12px 5px 13px;
            display: inline-block;
            letter-spacing: 2px;
            span {
                font-weight: 300;
                margin-right: 10px;
            }
        }
        h2 {
            font-size: 44px;
            font-weight: 200;
            margin: 26px auto 14px;
        }
        p {
            font-size: 22px;
            font-weight: 300;
            line-height: 1.6;
        }
    }

    &:nth-child(1) {
        background:url(../images/2014.png) center 44px no-repeat;
        background-size: contain;
        position: relative;
        &:after {
            position:absolute;
            right: -7%;
            bottom: 20px;
            display: block;
            content: "";
            background:url(../images/2014-2015.png) no-repeat;
            background-size: contain;
            width: 360px;
            height: 670px;
            z-index: 1;
        }
        .text-wrap{
            .tag-txt {
                background-color: #FCD135;
            }
        }
    }
    &:nth-child(2) {
        background:url(../images/2015.png) center 30px no-repeat;
        background-size: contain;

        .text-wrap{
            margin-top: 10%;
            .tag-txt {
                background-color: #8EC1E1;
            }
        }
    }
    &:nth-child(3) {
        background:url(../images/2016.png) center no-repeat;
        background-size: contain;
        background-position-y:0px;

        .text-wrap{
            .tag-txt {
                background-color: #E5A232;
            }
        }
    }
    &:nth-child(4) {
        background:url(../images/2017.png) center 44px no-repeat;
        background-size: contain;
        z-index: -2;
        position: relative;
        // background-position-y: -68px;
        &:after {
            position:absolute;
            left: -30%;
            bottom: 45px;
            display: block;
            content: "";
            background:url(../images/2016-2017.png) no-repeat;
            background-size: contain;
            width: 650px;
            height: 300px;
            z-index: -1;
        }

        .text-wrap{
            margin-top: 10%;
            .tag-txt {
                background-color: #8ABA62;
            }
        }
        .award-wrap {
            margin-top: 14%;
            padding: 0 30px;
        }
    }
    &:nth-child(5) {
        background:url(../images/2018.png) center no-repeat;
        background-size: contain;
        // background-position-y: 46px;

        .text-wrap{
            .tag-txt {
                background-color: #dbadc3;
            }
        }
    }
    &:nth-child(6) {
        background:url(../images/2019.png) center no-repeat;
        background-size: cover;
        // background-position-y: -68px;

        .text-wrap{
            margin-top: 35%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            padding: 30px 28px;
            color: #fff;
            .tag-txt {
                background-color: #E5A232;
                color: #000;
            }
        }
    }
    &:nth-child(7) {
        background:url(../images/2019-2.png) center no-repeat;
        background-size: contain;
        // background-position-y: 44px;

        .text-wrap{
            .tag-txt {
                background-color: #FCD135;
            }
        }
    }
    
    &:nth-child(8) {
        background:url(../images/2020.png) center no-repeat;
        background-size: contain;
        // background-position-y: 44px;

        .text-wrap{
            .tag-txt {
                background-color: #FCD135;
            }
        }
    }
    &:nth-child(9) {
        background:url(../images/2021.png) center no-repeat;
        background-size: contain;
        position: relative;
        // background-position-y: 44px;

        .text-wrap{
            background-color: rgba($color: #000000, $alpha: 0.5);
            padding: 30px 28px;
            color: #fff;
            .tag-txt {
                background-color: #87D8BF;
                color: #000;
            }
        }
    }
    &:nth-child(10) {
        background:url(../images/2022.png) center no-repeat;
        background-size: cover;
        position: relative;
        // background-position-y: 44px;
        &:before {
            position:absolute;
            left: 0;
            bottom: 0;
            display: block;
            content: "";
            background:url(../images/2022-bg.png) no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
        &:after {
            position:absolute;
            left: -30%;
            bottom: 0;
            display: block;
            content: "";
            background:url(../images/2021-2022.png) no-repeat;
            background-size: contain;
            width: 1500px;
            height: 733px;
            z-index: -1;
        }

        .text-wrap{
            .tag-txt {
                background-color: #3EAED4;
            }
        }
    }

}
.pattern1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    opacity: .15;
    z-index: 2000;
    mix-blend-mode: color-burn;
}
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    // padding: 0 10%;
    width: 100%;
    height: 70px;
    z-index: 9999;
    background-color: #EFEEE6;
    border-top: 2px solid #444;
}

.anchor-nav {
    @include list-reset;
    @include clearfix;
    margin-top: 12px;

    & > a {
        float: left;
        width: (100%/10);
        text-align: center;
        font-family: roboto;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 300;
        cursor: pointer;
        color: #a1a1a1;
        transition:.3s;
        &.active {
            color: #000;
            font-weight: 500;
        }
        &:hover {
            color: #000;
            transition:.3s;
        }
    }
}


//op 
.op {
    width: 100%;
}

